
body{
    /* rgb(17,17,17); */
    background-color:black;
    /*  EVITAR DISPERSÃO DOS ELEMENTOS */
    max-width: 1200;
}
image{
    background-color:black;
    
}

.header {
    /* AFUNILAR O CONTEÚDO */
    /*  DEIXA O SITE CENTRALIZADO */
    margin: 10px;
    /* POSIÇÃO DO TEXTO */
    text-align: left;
    color: white;
    font-size: 30px;
    /* linear-gradient(to top,rgb(15,15,15)) */
    background: black;
    /* SOMBRA DA CAIXA */
    /*  0 0 2rem whitesmoke; */
    box-shadow: 0 0 2rem whitesmoke;
    /* MÉTODO DE ESTILIZAÇÃO MANIPULAVÉL */
    display: flex;
    /* DISTRIBUI O CONTEÚDO EM LINHA */
    flex-direction: line;
    /* ESPAÇO ENTRE OS CONTEÚDOS */
    justify-content: space-between;
    align-items: center;
    float: right;

    
  }
.p{
    color: whitesmoke;
    font-family:'Awaken';
    text-align: right;
  }
.logo{
    width: 80px;
    height: 80px;
    /* FORMATO ARRENDONDADO */
    border-radius: 250px;
    background-color: azure;


}
.logo:hover{
    background-color: purple;
}
 body div.txtLOGO{
    color:blueviolet;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    flex-direction: column;
    /* DISTÂNCIA ENTRE OS TEXTOS VERTICALMENTE */
    line-height: 1px;
    /* AFINAMENTO DA ESPESSURA */
    font-weight:600;
    border: 2px solid blueviolet;
    margin: 0px 50px 0px 0px; 
}
/* EFEITO DE MUDANÇA DE COR */
div.txtLOGO:hover{
    transition: 0.3s all;
    background-color: white;
}
.lateral {
    /* AFUNILAR O CONTEÚDO */
    /*  DEIXA O SITE CENTRALIZADO */
    max-height: 20px;
    margin:0px;
    /* POSIÇÃO DO TEXTO */
    text-align: left;
    color: white;
    font-size: 30px;
    background: linear-gradient(to top,rgb(15,15,15));
    /* SOMBRA DA CAIXA */
    box-shadow: 0 0 2rem whitesmoke;
    /* MÉTODO DE ESTILIZAÇÃO MANIPULAVÉL */
    display: flex;
    /* DISTRIBUI O CONTEÚDO EM LINHA */
    flex-direction: line;
    /* ESPAÇO ENTRE OS CONTEÚDOS */
    justify-content: space-between;
    align-items: center;
    width: 70%;
    float: right;
    
    

    
  }
